.gradle
**/build/

#Ignorar tambem os arquivos gradle GUI config#
gradle-app.setting

!gradle-wrapper.jar

#cache do projeto#
.gradletasknamechace

#Os aquivo.class#
*.class

#arquivos de pacote#
*.jar
*.war 
*.ear

.setting/*
bin/*
.project
.classpath